.startup-success-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .startup-success-modal-content {
    background: white;
    padding: 5px; 
    border-radius: 8px;
    width: 450px; /* Adjust width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
    width: 421px;
    height: 291px;
  }
  
  .startup-success-modal-body {
    padding: 30px; /* Adjust padding inside the modal body */
  }
  
  .startup-success-modal-body h2 {
    font-size: 24px; /* Adjust font size of the title */
    font-weight: 700; /* Adjust font weight of the title */
    margin-top: 10px;
  }
  
  .startup-success-modal-body p {
    font-size: 18px; /* Adjust font size of the message */
    color: #757575;
  }
  
  .startup-success-icon {
    font-size: 41px; /* Adjust size of the icon */
    color: #0183FF; /* Adjust color of the icon */
    margin-bottom: 20px; /* Margin below the icon */
  }
  
  .startup-success-modal-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Adjust font size of the button */
    margin-top: 20px;
  }
  
  .startup-success-modal-button:hover {
    background-color: #0056b3;
  }
  